:root{
    --main-color : #0074B9;
    --main-color-white:#fff;
    --main-color-black:#1d1d1d;
    --main-color-gray:#ccc;
    --main-color-orange: #EB5314;
    --main-color-danger: #ff0000;
    --main-color-success: #2ba968;
}