

i{
    cursor: pointer;
    font-size: 1.2rem;
}

i:hover{
    color: var(--main-color);
}

.logo h2 a{
    display: block;
    color: var(--main-color);
    text-transform: uppercase;
    margin: 30px 0px;
}

.bg-gray{
    background-color: #ccc;
}

@media screen and (max-width:480px) {
    html, body{
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    img{
        max-width: 100%;
    }

    .container{
        max-width: 100%;
    }
    
}





