 /* CSS pour le bouton de retour en haut */
 #backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--main-color-orange);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

#backToTopBtn:hover {
    background-color: var(--main-color-black);
}

#backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--main-color-orange);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

#backToTopBtn:hover {
    background-color: var(--main-color-black);
}

/* Responsive styles pour écrans plus petits */
@media (max-width: 768px) {
    #backToTopBtn {
        bottom: 15px;
        right: 15px;
        font-size: 16px;
        padding: 12px;
    }
}

/* Responsive styles pour écrans très petits (mobiles) */
@media (max-width: 480px) {
    #backToTopBtn {
        bottom: 10px;
        right: 10px;
        font-size: 14px;
        padding: 10px;
    }
}
